/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 700px;
  margin: 10px;
  padding: 10px;
}

/* title */
.title {
  text-align: center;
  margin-top: 10px;
  border: 2px solid gray;
}

/* usersList */
.usersList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  border: 2px solid gray;
}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin: 5px;
}

.usersId {
  width: 100px;
}

.usersJmeno {
  width: 100px;
}

.usersAge {
  width: 100px;
}

.zmena {
  font-weight: bold;
  background-color: #92a8d1;
}

.vymaz {
  font-weight: bold;
  background-color: palevioletred;
}

/* formular */
.formular {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  border: 2px solid gray;
  padding: 10px;
}

.formular label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.formular input {
  padding-left: 10px;
}

.formId {
  margin: 10px;
}

.formName {
  margin: 10px;
}

.formAge {
  margin: 10px;
}

.odesli {
  margin: 10px;
}
